.wrapper {
  max-width: 1080px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  height: 100%;
}

.page {
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.shapes {
  width: 100%;
  display: flex;
  justify-content:center;
  position:relative;
  left:100px;
  height:30vh;
}


html {
  background: linear-gradient(270deg, #f0dcca, #c4dcec);
background-size: 400% 400%;
animation: background 21s ease infinite;
}


img {
  height: 800px;
  width: 1000px;
  object-fit: contain;
}

img.code {
  height: auto;
  width: 100%;
  object-fit:contain;
}

h1 {
  font-size: 3rem;
}

button {
  border: none;
  padding: 20px;
  background: rgba(39, 39, 66, 0.733);
  color: #f0dcca;
  font-size: 16px;
  font-weight: bold;
  text-shadow: 1px 1px 1px #000, 
  3px 3px 5px blue; 
  transform:scale(1);
  transition: all 1s
}

button:hover {
  transform:scale(1.3);
}

.App{
  height: 100vh;
}

@keyframes background {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

.cool {
  animation: dash 5s infinite;
}
@keyframes dash {
  to {
    stroke-dashoffset: 100;
  }
}

.circle,
.rect {
  width:calc(50% - 50px);
  animation: evenCooler 3s ease-in-out infinite;
}
@keyframes evenCooler {
  0%{
    stroke-dashoffset: 0;
    
  }
  50%{
    stroke-dashoffset: 500;
    
  }
  100%{
    stroke-dashoffset:0;
    
  }
}